pkgbase = fur
	pkgdesc = ur helper
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/themartiancompany/fur
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	depends = git
	source = fur-1.0.tar.gz::https://github.com/themartiancompany/fur/archive/refs/tags/1.0.tar.gz
	sha256sums = d960edaafbd8d0411771007612bb7f5413903b5d63df64a2345321b94ddb30fd

pkgname = fur
